.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--round-button-diameter);
  height: var(--round-button-diameter);
  border-radius: 50%;
  color: black;
  font-size: smaller;
  font-weight: 600;
}