.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.boards {
  display: flex;
  align-items: center;
  gap: 26px;
  height: 100%;
  padding: 30px;
  overflow: auto;
}