.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-2);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.column {
    flex-direction: column;
}

.gap4 {
    gap: 4px;
}
