.container {
  display: grid;
  grid-template-rows: [user] 30px [text-start] auto [text-end];
  row-gap: 8px;
  height: 160px;
  padding: 8px;
  background-color: var(--color-2);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
}

.textarea:focus {
  outline: none;
}