.container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 160px;
  padding: 8px;
  background-color: var(--color-2);
  border-radius: 10px;
}

.header {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
}

.textarea {
  flex: 1 1 auto;
  border: none;
  background-color: transparent;
  resize: none;
}

.textarea:focus {
  outline: none;
}