.board {
  display: grid;
  grid-template-rows: [header-start] 40px [header-end] calc(100% - var(--board-header-height)) [body];
  position: relative;
  flex: none;
  width: 310px;
  height: 100%;
  border-radius: 8px;
  background-color: var(--dark-theme-background-1);
  background: var(--dark-theme-background-1);
}

.shadow::before {
  content:"";
  position: absolute;
  inset: -5px;
  background: radial-gradient(circle at 50% 0%,#F8D5C6, #2E537C);
  filter: blur(10px);
  z-index: -1;
}

.header {
  grid-row-start: header-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--board-header-height);
  padding: 8px 6px 6px 6px;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.closeButton:hover {
  background-color: var(--dark-theme-hover);
  cursor: pointer;
}

.closeIcon {
  width: 20px;
  height: 20px;
}

.body {
  grid-row-start: body;
}