.user {
  display: flex;
  padding: 4px;
  border-radius: 5px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.user:hover {
  background-color: var(--color-6);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px 0 0 0;
}

.label {
  font-size: smaller;
  font-weight: 300;
  cursor: pointer;
}