.container {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 10px;
  gap: 8px;
}

.container:hover {
  background-color: var(--dark-theme-hover-gray);
  cursor: pointer;
}

.label {
  font-size: smaller;
  font-weight: 300;
  cursor: pointer;
}