.textarea {
  width: 100%;
  padding: 8px 4px;
  border: none;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
}

.backgroundReadOnly {
  background-color: transparent;
}

.backgroundReadWrite {
  background-color: var(--color-3);
}

.textarea:focus {
  outline: none;
}